/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
}
.card-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: orange;
  width: 80%;
  box-shadow: 0px 4px 16px 0px orange;
  padding: 30px;
}
@media screen and (min-width: 786px) {
  .card-Container {
    width: 40%;
    max-width: 500px;
  }
}
.heading {
  text-align: center;
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 24px;
  }
}
.paragraph {
  text-align: center;
  color: #333333;
  font-family: 'Roboto';
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 18px;
  }
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  margin-top: 14px;
  outline: none;
  cursor: pointer;
}
.random-number {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .random-number {
    font-size: 48px;
  }
}
